<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>replit</title>
	<link href="../style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	 crossorigin="anonymous">

	<h2> Novel Organizer </h2>
</head>

<body>
	<div id="nav">
		<a class="one" href="../index.html">Homepage</a>
		<div class="dropdown">
			<button onclick="myFunction()" class="dropbtn">Templates</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="../templates/charatemp.html">Character</a>
    <a href="../templates/locatemp.html">Location</a>
    <a href="../templates/plottemp.html">Plotline</a>
     <a href="../templates/themetemp.html">Themes</a>
    <a href="../templates/symboltemp.html">Symbols</a>
    <a href="../templates/motiftemp.html">Motifs</a>
  </div>
<a class="one" href="../notes.html">Notes</a>
<a class="one" href="../generator.html">Generators</a>
<a class="one" href="../calendar.html">To-Do List</a>
</div></div>
    

    <center><h3>Location Template</h3></center>


    <p><center>

<div id="charaform" class="form-group">
  <div class ="div1" id="1">
					Location Name<textarea id="o1" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>
<div class ="div1" id="1">
					Basic Summary<textarea id="o2" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>
<div class ="div1" id="1">
					Purpose In Story<textarea id="o3" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>

<div class ="div1" id="1">
					Development/Arc<textarea id="o4" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>

<div class ="div1" id="1">
					Geography/Layout<textarea id="o5" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>

<div class ="div1">
					Social Relations</h3><textarea id="o6" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>

<div class ="div1">
				Culture</h3><textarea id="o7" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>       
 
<div class ="div1">
				History</h3><textarea id="o8" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>   

<div class ="div1">
			Relation to Other Locations</h3><textarea id="o9" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>   

<div class ="div1">
				Type (City, town, ect)</h3><textarea id="o10" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>   

<div class ="div1">
				Climate</h3><textarea id="o11" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>   

<div class ="div1">
				Population/Demographics</h3><textarea id="o12" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>   

<div class ="div1">
				Ruler/Government</h3><textarea id="o13" class="form-control" aria-label="With textarea" placeholder="Write note here" ></textarea>
				</div><br>   

    <input type="button" id="bt1" value='Submit' onclick='getTArea()' class="comment-submit">
    </center> </p>
 <div class="chtemp">
        <span class="ch-name">Location Name: </span><br />
        <span class="ch-sum">Summary: </span><br />
        <span class="ch-pur">Purpose: </span><br />
        <span class="ch-dev">Development: </span><br />
        <span class="ch-mot">Geography: </span><br />
        <span class="ch-soc">Social Relations: </span><br />
        <span class="ch-lik">Culture: </span><br />
        <span class="ch-per">History: </span><br />
        <span class="ch-hair">Relations: </span><br />
        <span class="ch-eth">Type: </span><br />
        <span class="ch-eye">Climate: </span><br />
        <span class="ch-app">Population/Demographics: </span><br />
        <span class="ch-ski">Ruler/Government: </span><br />
      </div>
<div class="ch2">why</div>
  </body>

 
 <script src="../scripts/locascript.js">
	</script>
<script src="../scripts/nav.js"></script>
</html>